<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="TA helps traders to do quantative analysis on stocks!">
    <meta name="keywords" content="quant,trader,stocks,trade analysis,programming,statistic">
    <meta name="author" content="">
    <title>{% block title %} IJCAI-15 Ranking{% end %}</title>
    <link href="/static/bootstrapv3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    {% block extra_css %}{% end %}
    <!--<script src="/static/jquery/jquery.min.js"></script>-->
    <script type="text/javascript" src="/static/vendor/js/jquery-1.11.1.min.js"></script>
    <script src="/static/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/js/json2.js"></script>
    <!--<script type="text/javascript" src="/static/bootstrapv3/dist/js/bootstrap.js"></script>-->
    <script type="text/javascript" src="/static/bootstrapv3/dist/js/bootstrap.min.js"></script>
    {% block extra_js %}{% end %}
    {% block head %}{% end %}
</head>
<body>
{% block content %}{% end %}

</body>
</html>
