<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">

    <title>DataTables example - Zero configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/resources/syntax/shCore.css">
    <link rel="stylesheet" type="text/css" href="/static/resources/demo.css">
    <style type="text/css" class="init">

    </style>
    <script type="text/javascript" language="javascript" src="/static/datatables/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/static/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/xsrf.js"></script>
    <script type="text/javascript" language="javascript" src="/static/resources/syntax/shCore.js"></script>
    <script type="text/javascript" language="javascript" src="/static/resources/demo.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/board.js"></script>
</head>

<body class="dt-example">
<div class="container">
    <section>
        <h1>AliData 2015 <span>Rank Board</span></h1>
        <table id="ranktable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>排名</th>
                <th>参赛者</th>
                <th>所在组织</th>
                <th>评分</th>
                <th>准确率</th>
                <th>召回率</th>
                <th>最好成绩提交日</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>排名</th>
                <th>参赛者</th>
                <th>所在组织</th>
                <th>评分</th>
                <th>准确率</th>
                <th>召回率</th>
                <th>最好成绩提交日</th>
            </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </section>
    {% raw xsrf_form_html() %}
</div>
</body>
</html>